body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    color: white
}

h2{
    margin-bottom: 2rem;
}

h4{
    margin-bottom: 2rem;
}

.img300{
    max-width:300px;
    margin-bottom: 4rem;
}

.img200{
    width:200px;
    margin-bottom: 4rem;
    height: 200px;
}

.logo{
    max-width:100px;
}

#image-gallery {
  width: 800px;
  margin: 0 auto;
}

#current-image {
    max-width: 100%;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#image-thumbs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thumb {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.arrow {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
  filter: invert(1) brightness(30%);
  color: grey;
}

.rightArrow {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
  filter: invert(1) brightness(30%);
  transform: rotate(180deg);
}